<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="../static/mainPageCSS.css">
</head>
<body>

<div class="header1">
    <input type="text" placeholder="Поиск...">
    <div class="profile-icon"></div>
</div>

<div class="container">
    <div class="sidebar">
        <button id="todayButton" class="sidebar-button">Сегодня</button>
        <button id="weekButton" class="sidebar-button">На неделю</button>
        <script>
            const todayButton = document.getElementById('todayButton');
            const weekButton = document.getElementById('weekButton');

            todayButton.addEventListener('click', () => {
                todayButton.classList.add('active-button');
                weekButton.classList.remove('active-button'); // Удаляем активный класс у другой кнопки
            });

            weekButton.addEventListener('click', () => {
                weekButton.classList.add('active-button');
                todayButton.classList.remove('active-button'); // Удаляем активный класс у другой кнопки
            });
        </script>
        <div>
            <input type="month" id="calendar" value="2022-05">
        </div>
        <div>
            <input class="sidebar-checkbox" type="checkbox" id="onlyIncomplete">
            <label for="onlyIncomplete">Только невыполненные</label>
        </div>
    </div>

    <div class="main">
        <div class="header2">
            <h1 class="date-header" style="margin: 0;">8 мая 2022</h1> <!-- Убрал отступы -->
            <button class="sort-button">Сортировать по дате</button>
        </div>
        <div class="todo-list">
            <div th:each="todo : ${todos}"> <!-- Заменяем <li> на <div> -->
                <div class="todo-item">
                    <div class="todo-text">
                        <h3 th:text="${todo.name}" style="font-size: 30px">[Name]</h3>
                        <p th:text="${todo.shortDesc}" style="font-size: 20px">[Description]</p>
                    </div>
                    <div class="todo-actions"> <!-- Новый контейнер для чекбокса и даты -->
                        <input type="checkbox" class="checkbox" th:checked="${todo.status}"/>
                        <div class="todo-date" th:text="${todo.formattedDate}" style="font-size: 20px">[Date]</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
